USE [master]
GO
/****** Object:  Database [NorthwindDatabase]    Script Date: 2023/10/22 21:18:25 ******/
CREATE DATABASE [NorthwindDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NorthwindDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NorthwindDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NorthwindDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NorthwindDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NorthwindDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NorthwindDatabase]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[Description] [ntext] NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [money] NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[HomePage] [ntext] NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (1, N'Chai', 1, 1, N'10 boxes x 20 bags', 18.0000, 39, 0, 10, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (2, N'Chang', 1, 1, N'24 - 12 oz bottles', 19.0000, 17, 40, 25, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (3, N'Aniseed Syrup', 1, 2, N'12 - 550 ml bottles', 10.0000, 13, 70, 25, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [HomePage]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', N'Purchasing Manager', N'49 Gilbert St.', N'London', NULL, N'EC1 4SD', N'UK', N'(171) 555-2222', NULL, NULL)
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [HomePage]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'Order Administrator', N'P.O. Box 78934', N'New Orleans', N'LA', N'70117', N'USA', N'(100) 555-4822', NULL, N'#CAJUN.HTM#')
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [HomePage]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', N'Sales Representative', N'707 Oxford Rd.', N'Ann Arbor', N'MI', N'48104', N'USA', N'(313) 555-5735', N'(313) 555-3349', NULL)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CategoryName]    Script Date: 2023/10/22 21:18:25 ******/
CREATE NONCLUSTERED INDEX [CategoryName] ON [dbo].[Categories]
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CategoriesProducts]    Script Date: 2023/10/22 21:18:25 ******/
CREATE NONCLUSTERED INDEX [CategoriesProducts] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CategoryID]    Script Date: 2023/10/22 21:18:25 ******/
CREATE NONCLUSTERED INDEX [CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ProductName]    Script Date: 2023/10/22 21:18:25 ******/
CREATE NONCLUSTERED INDEX [ProductName] ON [dbo].[Products]
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SupplierID]    Script Date: 2023/10/22 21:18:25 ******/
CREATE NONCLUSTERED INDEX [SupplierID] ON [dbo].[Products]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SuppliersProducts]    Script Date: 2023/10/22 21:18:25 ******/
CREATE NONCLUSTERED INDEX [SuppliersProducts] ON [dbo].[Products]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CompanyName]    Script Date: 2023/10/22 21:18:25 ******/
CREATE NONCLUSTERED INDEX [CompanyName] ON [dbo].[Suppliers]
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PostalCode]    Script Date: 2023/10/22 21:18:25 ******/
CREATE NONCLUSTERED INDEX [PostalCode] ON [dbo].[Suppliers]
(
	[PostalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitsInStock]  DEFAULT ((0)) FOR [UnitsInStock]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitsOnOrder]  DEFAULT ((0)) FOR [UnitsOnOrder]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_ReorderLevel]  DEFAULT ((0)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Discontinued]  DEFAULT ((0)) FOR [Discontinued]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [CK_Products_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_UnitPrice]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [CK_ReorderLevel] CHECK  (([ReorderLevel]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_ReorderLevel]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [CK_UnitsInStock] CHECK  (([UnitsInStock]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_UnitsInStock]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [CK_UnitsOnOrder] CHECK  (([UnitsOnOrder]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_UnitsOnOrder]
GO
/****** Object:  StoredProcedure [dbo].[DeleteCategory]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 28/01/2023>
-- Description:	<Description, Removes a category>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteCategory]

@categoryID INT
AS
BEGIN
	DELETE FROM Products WHERE CategoryID = @categoryID
	DELETE FROM Categories WHERE CategoryID = @categoryID
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 29/01/2023>
-- Description:	<Description, Removes a product>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteProduct]
@productID INT
AS
BEGIN
	DELETE FROM Products WHERE ProductID = @productID
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteSupplier]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 29/01/2023>
-- Description:	<Description, Removes a supplier and all associated products>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteSupplier]
@supplierID INT
AS
BEGIN
	DELETE FROM Products WHERE SupplierID = @supplierID
	DELETE FROM Suppliers WHERE SupplierID = @supplierID
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllCategories]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 25/01/2023>
-- Description:	<Description, Gets all categories>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCategories] 
AS
BEGIN
	SELECT [CategoryID]
      ,[CategoryName]
      ,[Description]
      ,[Picture]
  FROM [Categories]
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 25/01/2023>
-- Description:	<Description, Gets all products>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllProducts] 
AS
BEGIN
	SELECT [ProductID]
	  ,prod.[SupplierID]
	  ,prod.[CategoryID]
      ,[ProductName]
      ,[CompanyName] AS Supplier
      ,[CategoryName] AS Category
      ,[QuantityPerUnit]
      ,[UnitPrice]
      ,[UnitsInStock]
      ,[UnitsOnOrder]
      ,[ReorderLevel]
      ,[Discontinued]
  FROM [Products] prod
  INNER JOIN Suppliers sup ON prod.SupplierID = sup.SupplierID
  INNER JOIN Categories cat ON prod.CategoryID = cat.CategoryID
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllSuppliers]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 25/01/2023>
-- Description:	<Description, Gets all suppliers>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllSuppliers] 
AS
BEGIN
	SELECT [SupplierID]
      ,[CompanyName]
      ,[ContactName]
      ,[ContactTitle]
      ,[Address]
      ,[City]
      ,[Region]
      ,[PostalCode]
      ,[Country]
      ,[Phone]
      ,[Fax]
      ,[HomePage]
  FROM [Suppliers]
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryById]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 26/01/2023>
-- Description:	<Description, Returns a matching category>
-- =============================================
CREATE PROCEDURE [dbo].[GetCategoryById]
@categoryID INT
AS
BEGIN
	SELECT [CategoryID], [CategoryName], [Description], [Picture]
	FROM [Categories]
	WHERE categoryID = @categoryID
END

GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 29/01/2023>
-- Description:	<Description, Updates an existing product>
-- =============================================
CREATE PROCEDURE [dbo].[GetProduct]
@productID INT
AS
BEGIN
	SELECT [ProductID],[ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], '' AS [Category],
		   '' AS [Supplier], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]
	FROM [Products]
	WHERE ProductID = @productID
END

GO
/****** Object:  StoredProcedure [dbo].[GetSupplier]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 29/01/2023>
-- Description:	<Description, Gets supplier by id>
-- =============================================
CREATE PROCEDURE [dbo].[GetSupplier]
@supplierID INT
AS
BEGIN
	SELECT [SupplierID], [CompanyName],[ContactName],[ContactTitle],[Address],
		   [City],[Region],[PostalCode],[Country],[Phone],[Fax],[HomePage]
	FROM [Suppliers]
	WHERE SupplierID = @supplierID
END
GO
/****** Object:  StoredProcedure [dbo].[NewCategory]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 26/01/2023>
-- Description:	<Description, Captures a new category>
-- =============================================
CREATE PROCEDURE [dbo].[NewCategory]
@categoryName NVARCHAR(15),
@description NTEXT,
@picture IMAGE
AS
BEGIN
	INSERT INTO [Categories] (CategoryName, [Description], [Picture])
	VALUES(@categoryName, @description, @picture)
END

GO
/****** Object:  StoredProcedure [dbo].[NewProduct]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 25/01/2023>
-- Description:	<Description, Captures a new product>
-- =============================================
CREATE PROCEDURE [dbo].[NewProduct]
@productName NVARCHAR(40),
@supplierId INT,
@categoryId INT,
@quantityPerUnit NVARCHAR(20),
@UnitPrice MONEY,
@unitsInStock SMALLINT,
@unitsOnOrder SMALLINT,
@reorderLevel SMALLINT,
@discontinued BIT
AS
BEGIN
	INSERT INTO [Products] ([ProductName], [SupplierID] ,[CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued])
	VALUES(@productName, @supplierId, @categoryId, @quantityPerUnit, @UnitPrice, @unitsInStock, @unitsOnOrder, @reorderLevel, @discontinued)
END
GO
/****** Object:  StoredProcedure [dbo].[NewSupplier]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 26/01/2023>
-- Description:	<Description, Captures a new supplier>
-- =============================================
CREATE PROCEDURE [dbo].[NewSupplier]
@companyName NVARCHAR(40),
@contactName NVARCHAR(30),
@contactTitle NVARCHAR(30),
@address NVARCHAR(60),
@city NVARCHAR(15),
@region NVARCHAR(15),
@postalCode NVARCHAR(10),
@country NVARCHAR(15),
@phone NVARCHAR(24),
@fax NVARCHAR(24),
@homePage NTEXT
AS
BEGIN
	INSERT INTO [Suppliers] ([CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [HomePage])
	VALUES(@companyName, @contactName, @contactTitle, @address, @city, @region, @postalCode, @country, @phone, @fax, @homePage)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCategory]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 29/01/2023>
-- Description:	<Description, Updates a category>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateCategory]
@categoryName NVARCHAR(15),
@description NTEXT,
@picture IMAGE,
@categoryID INT
AS
BEGIN
	UPDATE [Categories]
	SET [CategoryName] = @categoryName,
		[Description] = @description,
		[Picture] = @picture
	WHERE categoryID = @categoryID
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 29/01/2023>
-- Description:	<Description, Updates an existing product>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateProduct]
@productName NVARCHAR(40),
@supplierId INT,
@categoryId INT,
@quantityPerUnit NVARCHAR(20),
@UnitPrice MONEY,
@unitsInStock SMALLINT,
@unitsOnOrder SMALLINT,
@reorderLevel SMALLINT,
@discontinued BIT,
@productID INT
AS
BEGIN
	UPDATE [Products] 
	SET [ProductName] = @productName, 
		[SupplierID] = @supplierId,
		[CategoryID] = @categoryId,
		[QuantityPerUnit] = @quantityPerUnit,
		[UnitPrice] = @UnitPrice, 
		[UnitsInStock] = @unitsInStock, 
		[UnitsOnOrder] = @unitsOnOrder,
		[ReorderLevel] = @reorderLevel,
		[Discontinued] = @discontinued
	WHERE ProductID = @productID
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateSupplier]    Script Date: 2023/10/22 21:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Nhlanhla Vilakazi>
-- Create date: <Create Date, 29/01/2023>
-- Description:	<Description, Updates an exixting supplier>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateSupplier]
@companyName NVARCHAR(40),
@contactName NVARCHAR(30),
@contactTitle NVARCHAR(30),
@address NVARCHAR(60),
@city NVARCHAR(15),
@region NVARCHAR(15),
@postalCode NVARCHAR(10),
@country NVARCHAR(15),
@phone NVARCHAR(24),
@fax NVARCHAR(24),
@homePage NTEXT,
@supplierID INT
AS
BEGIN
	UPDATE [Suppliers] 
	SET [CompanyName] = @companyName,
		[ContactName] = @contactName,
		[ContactTitle] = @contactTitle,
		[Address] = @address,
		[City] = @city,
		[Region] = @region,
		[PostalCode] = @postalCode,
		[Country] = @country,
		[Phone] = @phone,
		[Fax] = @fax,
		[HomePage] = @homePage
	WHERE SupplierID = @supplierID
END
GO
USE [master]
GO
